<form method="post" action="/login">
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
           <input type="email" placeholder="Email" name="login[email]">
        </div>
        <div class="small-2 columns">
          <input type="submit" class="button postfix" value="Login">
        </div>
      </div>
    </div>
  </div>
</form>



